numpy
pandas
matplotlib
scipy
scikit-learn
scikit-image
jsoncpp
tensorboardX
opencv
PyYAML
mkl_fft
mkl_random
jupyter
jupyterlab
jupyterhub
h5py
PyHamcrest
Cython
pyzmq
jupyterlab
pytest
seaborn
xgboost
lightgbm
vtk
pyqt
mayavi
hyperopt
pylint
albumentations
